@import "tailwindcss";




@theme{
  --color-grayBlack : #121212;
  --color-cards : #1C1C1E; 
  --color-priAccent : #0A84FF;
  --color-secAccent : #1F1F1F;
  --color-text-pri : #FFFFFF;
  --color-text-sec : #A1A1A1;
  --color-borders : #2E2E2E;
}

body {

}
